
@keyframes banner {
    25% {
        background-image: url(../files/fotoDos.jpg);
    }
    50% {
        background-image: url(../files/fotoTres.jpg);
    }
    75% {
        background-image: url(../files/fotoCuatro.jpg);
    }


}